@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.banner--content__main {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.488);
    width: 100%;
    height: 100%;
    z-index: 100;
    padding: 9rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}

.banner--content__main h1 {
    font-size: 3rem;
    font-weight: 800;
}

.banner--content__main input::placeholder {
    font-size: 14px;
}


.fielddetail__content--info {
    background-color: rgba(0, 0, 0, 0.04);
}

.fielddetail__content--card{
    background-color: rgba(0, 0, 0, 0.488);
}